body {
  width: 50%;
  margin: auto;
}

h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

form.answer {
  margin-bottom: 50px;
}

ul {
  list-style-type: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button.o {
  background-color: cornflowerblue;
  border-color: cornflowerblue;
  min-height: 30px;
  min-width: 30px;
}

button.x {
  background-color: red;
  border-color: red;
  min-height: 30px;
  min-width: 30px;
}

li {
  background-color: #DDDDB7;
  border-width: 3px;
  border-style: ridge;
  font-size: 150%;
  padding: 5px;
  max-width: 400px;
}