h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {
  list-style-type: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button.o {
  background-color: cornflowerblue;
  border-color: cornflowerblue;
}

button.x {
  background-color: red;
  border-color: red;
}

li {
  background-color: #DDDDB7;
  border-width: 3px;
  border-style: ridge;
  border-color: black;
  margin-bottom: 5px;
  padding: 5px;
  max-width: 400px;
}





/*body {
  padding: 1rem 4rem;
}

section > div {
  width: 80%;
  margin: 1rem auto;
}

form {
  margin-top: 50px;
}

dl {
  padding: 15px 10px;
}

dl > li {
  list-style: none;
}

dt, dd {
  display: inline-block;
  vertical-align: top;
  width: 48%;
}

dl:nth-of-type(even) {
  background-color: WhiteSmoke;
}

@media (min-width: 700px) {
  section > div {
    width: 60%;
  }
}

@media (min-width: 900px) {
  section > div {
    float: left;
    margin: 20px 5%;
    width: 40%;
  }

  section::after {
    clear: both;
    content: "";
    display: table;
  }
}*/